<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tongpao">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_APN_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/tongpao"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity android:name=".WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name=".ui.myOwn.activity.EditPerInfoActivity" />
        <activity android:name=".ui.myOwn.activity.RegisterActivity" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".ui.home.activity.DetailActivity" />
        <activity android:name=".ui.home.activity.LikeDetailActivity" />
        <activity android:name=".ui.home.activity.OtherActivity" />
        <activity
            android:name=".ui.home.activity.PerInfoActivity"
            android:theme="@style/PerInfoActivirtyTheme" />
        <activity android:name=".ui.home.activity.ActivitiesDetailActivity" />
        <activity android:name=".ui.home.activity.HistoryActivity" />
        <activity android:name=".ui.home.activity.HistoryDetailActivity" />
        <activity android:name=".ui.home.activity.HanFuAboutActivity" />
        <activity android:name=".ui.home.activity.AboutDetailActivity" />
        <activity android:name=".ui.home.activity.SingleGoodsActivity" />
        <activity android:name=".ui.home.activity.SingleDetailActivity" />
        <activity
            android:name=".ui.home.activity.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.myOwn.activity.LoginPrepareActivity" />
        <activity android:name=".ui.myOwn.activity.LoginActivity" />
        <activity android:name=".ui.discover.activity.DiscoverAssociationActivity"/>
        <activity android:name=".ui.discover.activity.DiscoverPaihangActivity"/>
        <activity android:name=".ui.discover.activity.RoommateActivity"/>
        <activity android:name=".ui.myOwn.activity.SettingActivity" />
        <activity android:name=".ui.myOwn.activity.PerInfoActivity" /> <!-- 友盟 -->
        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 微博 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>